html, body, .ng-scope {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.flip-mirror {
    bottom: 0;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.absolute {
    position: absolute;
}

.app-title {
    font-size: 5em;
    text-align: center;
    margin: auto;
    width: 692px;
    height: 141px;
    background-size: 692px 141px;
    background-image: url('../img/app_title.jpg');
}

.screen-title {
    margin-top: 5%;
    text-align: center;
}

.home {
    overflow: hidden;
}

.home .buttons {
    padding-top: 5%;
    margin-top: 5%;
}

.home .buttons div.btn {
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
}

.home .buttons div.text {
    text-align: center;
    height: 10%;
}

.home .buttons div.icon {
    padding-top: 15px;
    padding-bottom: 15px;
}

.home .buttons div.btn .glyphicon {
    font-size: 16vw;
}

.message-top {
    position: absolute;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    color: black;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.map {
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-image: url('../img/map2.jpg');
    background-size: 1920px 1080px;
}

.map div.btn.replay {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000000;
    font-size: 3em;
    padding-top: 25px;
    display: none;
}

.marker {
    position: absolute;
    z-index: 2000;
    width: 100px;
    height: 100px;
}

.slots {
    text-align: center;
}

.slot {
    margin: 1em;
}

.player-hand-device {
    display: inline-block;
    background-image: url('../img/Mobile-Smartphone-Tablet-icon.png');
    background-size: 20em 20em;
    text-align: left;
    width: 20em;
    height: 20em;
    padding-top: 3em;
    padding-left: 4em;
    padding-right: 10em;
    overflow: hidden;
}

.marker-space {
    display: inline-block;
    overflow: hidden;
    width: 20em;
    height: 20em;
}