# -----------------------------------------
# File: .gitignore
# 
# Salah Bennour 
# Alexandre Tisier
# Jean Christophe Isoard
# Kevin Justal
#
# Polytech Nice Sophia - Computer Sciences
# -----------------------------------------


# NODE MODULES
./*/node_modules/

# TEMP
./*/temp/

# DUNNO
./*/*.swp

# UNWANTED
./*/*.log
./*/bin/
./*/.idea

# MAC OS
./*/*.DS_Store

# PLATFORMS
./*/platforms/
