<div id="home" class="home">
  <div class="row col-md-12">
    <h1 class="app-title">PolyDefense</h1>
  </div>
  <div class="row col-md-12 buttons fill-height text-center">
    <div class="btn btn-default" ng-click="goToCreate($event)" ng-touch="goToCreate($event)">
      <div class="text top">Créer une partie</div>
      <div class="glyphicon glyphicon-play"></div>
      <div class="text bottom">Vous utilisez la table</div>
    </div>
    <div class="btn btn-default" ng-click="goToWatch($event)" ng-touch="goToWatch($event)">
      <div class="text top">Observer la partie</div>
      <div class="icon">
        <span class="glyphicon glyphicon-eye-open"></span>
      </div>
      <div class="text bottom">Vous utilisez un ordinateur</div>
    </div>
  </div>
</div>