<ion-view view-title="Defense details">
  <ion-content ng-class="{expanded:isExpanded}" ng-controller="DetailsCtrl" ng-init="getDefense()">

    <!-- Image & name -->
    <div class="hero">
      <div class="content">
        <div class="avatar" style="background-image: url({{defense.image}});"></div>
        <h3><a>{{defense.name}}</a></h3>
        <h4><a>{{defense.type}}</a></h4>
      </div>
    </div>


    <!-- Navigation bar -->
    <div class="tabs tabs-dark tabs-icon-top static">
      <div class="tab-item" ng-click="setDescription(true)">
        <i class="icon ion-information"></i> Description
      </div>
      <div class="tab-item" ng-click="setDescription(false)">
        <i class="icon ion-gear-a"></i> Caractéristiques
      </div>
    </div>


    <!-- Description -->
    <div class="list" ng-show="description">
      <h4 class="content padding double-padding-x">Description</h4>

      <div class="card">
        <div class="item item-divider">Points forts</div>
        <div class="item item-text-wrap ppad">
          <p>{{defense.description.strenght}}</p>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">Points faibles</div>
        <div class="item item-text-wrap ppad">
          <p>{{defense.description.weakness}}</p>
        </div>
      </div>
    </div>


    <!-- Caracteristics -->
    <div class="list"  ng-show="!description" >
      <h4 class="content padding double-padding-x">Caractéristiques</h4>

      <div class="row responsive-sm">
        <div class="col">
          <div class="row">
            <div class="col col-33 myCornerL">
              <img src="img/coin.png" class="imgLeft">
            </div>

            <div class="col col-67 myCornerR">
              <h2 class="col col-center">{{defense.prix}}</h2>
              <p>Prix : en pièce d'or</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col col-33 myCornerL">
              <img src="img/cone.png" class="imgLeft">
            </div>
            <div class="col col-67 myCornerR">
              <h2 class="col col-center">{{defense.caracteristics.portee}}</h2>

              <p>Portée : en mètres</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row responsive-sm">
        <div class="col">
          <div class="row">
            <div class="col col-33 myCornerL">
              <img src="img/shots.png" class="imgLeft">
            </div>
            <div class="col col-67 myCornerR">
              <h2 class="col col-center">{{defense.caracteristics.cadence}}</h2>

              <p>Cadence de tir : en tir par seconde</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col col-33 myCornerL">
              <img src="img/damage.png" class="imgLeft">
            </div>
            <div class="col col-67 myCornerR">
              <h2 class="col col-center">{{defense.caracteristics.damage}}</h2>

              <p>Dégâts : en points de vies</p>
            </div>
          </div>
        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
