
<ion-view view-title="Connexion" align-title="left">
  <ion-content ng-controller="LoginCtrl" class="loginPage">

    <div class="hero no-header flat">
      <div class="content">
        <img src="img/logo.png" class="responsive-image">
        <h4>par des élèves de Polytech'Nice Sophia</h4>
      </div>
    </div>

    <!-- IF NO CONNECTED TO TABLE-->
    <div ng-show="!isConnected">
      <div class="list">
        <button class="button button-full button-balanced ink" ng-click="connect()">Connexion à la table</button>
      </div>
    </div>

    <!-- IF CONNECTED TO TABLE-->
    <div ng-show="isConnected">
      <div class="list">
        <ion-md-input placeholder="Pseudo" highlight-color="balanced" type="text" ng-model="username"></ion-md-input>
      </div>
      <div class="padding">
        <button class="button button-full button-balanced ink" ng-click="play()">Rejoindre une partie</button>
      </div>
    </div>


  </ion-content>
</ion-view>



















<style>
  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
  }

  .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
</style>
