<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="true">
    <ion-nav-bar class="bar-assertive-900" ng-style="{'background-color': viewColor}"
                 ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}"
                 align-title="left">

      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <table style="width:100%; margin-right: 20px">
          <tr align="left">
            <td style="vertical-align:middle;"><b>{{coins}}</b></td>
            <td><img src="img/PolyDefense/money.png" height="30"/></td>
          </tr>
          <tr align="left">
            <td style="vertical-align:middle;"><b>{{points}}</b></td>
            <td><img src="img/PolyDefense/score.png" height="30"/></td>
          </tr>
        </table>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right">
    <ion-header-bar class="dark-bg expanded">
      <span class="avatar" style="background: url('img/nothing.png'); background-size: cover;"></span>

      <h2>Bienvenue</h2>
    </ion-header-bar>
    <ion-content class="stable-bg has-expanded-header">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="app.login">
          Connexion
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.placements">
          Placements
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.shop">
          Magasin
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.stats">
          Statistiques
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
