<ion-view view-title="Placer mes defenses">
  <ion-content ng-class="{expanded:isExpanded}" ng-controller="PlacementCtrl" style="background-color: #F0F3F8;">


    <div class="row">
      <ion-toggle ng-model="onlyMine" ng-change="changeSettings()" toggle-class="toggle-calm">
        Afficher uniquement mes defenses
      </ion-toggle>
    </div>

    <table class="table table-hover table-striped nohover" id="myTab">
      <tr>
        <th><a href ng-click="predicate = 'name'; reverse=!reverse">Nom</a></th>
        <th><a href ng-click="predicate = 'caracteristics.cadence'; reverse=!reverse">Cadence</a></th>
        <th><a href ng-click="predicate = 'caracteristics.portee'; reverse=!reverse">Portée</a></th>
        <th><a href ng-click="predicate = 'cout'; reverse=!reverse">Prix/Coût</a></th>
      </tr>
      <tbody>
      <tr ng-disabled="true" ng-repeat="d in defenses | filter:query | orderBy : predicate:reverse"
          ng-class="{selectedR: d.id === selectedItem && d.mine, notmine : !d.mine}" ng-click="selectItem(d.id, d.cout)" style="height : 15vh;">

        <td class="ma">
          <img class="img-rounded" height="80" ng-src="{{d.image}}">
          <span style="display: block; color : #364761; font-weight: 600">{{d.name}}</span>
        </td>

        <td class="ma">
          <h4 class="displayMobile" style="font-weight: bold; color :black">{{d.caracteristics.cadence}}</h4>
          <div class="displayTablet">
            <img ng-repeat="i in d.caracteristics.cadenceL track by $index" ng-src="img/{{i}}.png">
          </div>
          <span class="miniLegend">tir / sec</span>
        </td>

        <td class="ma">
          <h4 class="displayMobile" style="font-weight: bold; color :black">{{d.caracteristics.portee}}</h4>
          <h2 class="displayTablet" style="font-weight: bold; color :black">{{d.caracteristics.portee}}</h2>
          <span class="miniLegend">mètres</span>
        </td>

        <td class="ma">
          <div ng-show="d.mine" >
            <button ng-disabled="!canValid(d.id)" ng-click="validIt()" class="button button-balanced">Placer</button>
            <p class="miniLegend">Coût : <b>{{d.cout}}</b></p>
          </div>
          <div ng-show="!d.mine">
            <button ng-click="buy(d.name, d.prix)" class="button button-assertive">BUY</button>
            <p class="miniLegend">Prix : <b>{{d.prix}}</b></p>
          </div>
        </td>

      </tr>
      </tbody>
    </table>

  </ion-content>

  <!-- Footer boutton -->
  <div class="fixed-outside" style="margin-top: 100px">
    <div class="row">
      <div class="col">
        <button class="button icon-right ion-ios-cart button-energized" ng-click="goShop()">Magasin</button>
      </div>
      <div class="col">
        <button class="button icon-right ion-checkmark-circled button-balanced" ng-click="confirmReady()">Prêt</button>
      </div>
    </div>
  </div>
</ion-view>

