<ion-view view-title="Mes achats">
  <ion-content ng-class="{expanded:isExpanded}" ng-controller="ShopCtrl">

    <!-- Search bar -->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Recherche par nom" id="query" ng-model="query">
      </label>
    </div>


    <!-- Defenses -->
    <div class="row responsive-sm" ng-repeat="item in defenses track by $index" ng-if="$index % 2 === 0">
      <div class="col col-50" ng-repeat="i in [$index,$index+1]" ng-if="defenses[i]!=null && !defenses[i].mine">
        <div class="card">

          <!-- Image & name -->
          <div class="module">
            <img ng-src="{{defenses[i].image}}"/>
            <header>
              <h1>
                {{defenses[i].name}}
              </h1>
            </header>
          </div>


          <!-- Buttons -->
          <div class="row">

            <!-- Price -->
            <div class="col col-50">
              <button class="button button-small button-balanced icon-right ion-social-bitcoin img-legend-center ar"
                      ng-disabled="!canPay(defenses[i].prix)"
                      ng-click="showConfirm(defenses[i].id, defenses[i].name, defenses[i].prix)">
                {{defenses[i].prix}}
              </button>
            </div>

            <!-- Details -->
            <div class="col col-50">
              <button class="button button-small button-assertive icon-right ion-chevron-right img-legend-center ar"
                      ng-click="details(defenses[i].id)">
                Details
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
