html, body, .ng-scope {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.map {
    position: relative;
    overflow: hidden;
}

.marker {
    position: absolute;
    width: 100px;
    height: 100px;
}

.slots {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 50%;
    text-align: center;
}

.slot {
    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}