html, body, .ng-scope {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.flip-mirror {
    position: absolute;
    width: 100%;
    bottom: 0;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.app-title {
    font-size: 5em;
    text-align: center;
}

.screen-title {
    margin-top: 10%;
    text-align: center;
}

.message-top {
    text-align: center;
    font-weight: bold;
    font-size: 4em;
}

.map {
    position: relative;
    overflow: hidden;
}

.marker {
    position: absolute;
    width: 100px;
    height: 100px;
}

.slots {
    text-align: center;
}

.player-hand-device {
    background-image: url('../img/Mobile-Smartphone-Tablet-icon.png');
    background-size: 100px 100px;
    text-align: left;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-left: 15px;
    overflow: hidden;
}

.slot {
    display: inline-block;
    margin: 1em;
}

.marker-space {
    width: 100px;
    height: 100px;
}