html, body, .ng-scope {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.app-title {
    margin-bottom: 4em;
    text-align: center;
}

.screen-title {
    margin-top: 10%;
    margin-bottom: 3em;
    text-align: center;
}

.map {
    position: relative;
    overflow: hidden;
}

.marker {
    position: absolute;
    width: 100px;
    height: 100px;
}

.slots {
    text-align: center;
}

.player-hand-device {
    background-image: url('../img/Mobile-Smartphone-Tablet-icon.png');
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

.slot {
    display: inline-block;
    margin: 1em;
}

.marker-space {
    width: 100px;
    height: 100px;
}